/* .card {
    background-color: #2495CE;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .card-header {
    display: flex;
    align-items: center;
  }
  
  .card-header i {
    font-size: 2rem;
  }
  
  .card-header span {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  
  .card-body {
    text-align: center;
    font-size: 1.6rem;
  }
 */
